*{
    margin: 0;
    padding: 0;    
    color: rgb(100,102,105);
    font-family: Lexend Deca;
}

.container{
    margin: 2rem 4rem 0 4rem;
}

.logo{
    display: flex;
    gap: 1rem;
    margin: 1rem;
}

.logoimg{
    margin-top: 0.5rem;    
    margin-right:0.1rem ;   
}

.title{
    color: rgb(209,208,197);    
    font-weight: lighter;
    font-size: 2.1rem;
}

.icn{
    margin-top: 0.5rem;
    /* background-color: rgb(100,102,105); */
    
}
