<div class="container">
    <div class="header">
        <div class="logo">
            <img src="../../assets/MonkeyTypeLogo.png" alt="logo" height="30px" class="logoimg">
            <h1 class="title">monkeytype</h1>
            <img src="../../assets/keyboard.png" alt="keyboard" width="30px" height="30px" class="keyboardicn icn">           
            <img src="../../assets/information.png" alt="keyboard" width="30px" height="30px" class="infoicn icn">
            <img src="../../assets/settings.png" alt="keyboard" width="30px" height="30px" class="settingsicn icn">
        </div>       
    </div>
    <div class="feature-container">
        <div class="feature-block">            
            <p class="punctuation feature-elements" (click)="togglePunct()">@ punctuation</p>
            <p class="numbers feature-elements" (click)="toggleNum()"># numbers</p>
            <p class = "split feature-elements"></p>
            <p class="numbers feature-elements fas fa-fw fa-clock">time</p>
            <p class="numbers feature-elements">words</p>
            <p class="numbers feature-elements">quote</p>
            <p class="numbers feature-elements">zen</p>
            <p class="numbers feature-elements">custom</p>
            <p class = "split feature-elements"></p>
            <p class="numbers feature-elements">15</p>
            <p class="numbers feature-elements">30</p>
            <p class="numbers feature-elements">60</p>
        </div>
    </div>
    <div class="paragraph-container">
        <app-body></app-body>
    </div>
</div>

