<div class="container">
    <div class="header">
        <div class="logo">
            <img src="../../assets/MonkeyTypeLogo.png" alt="logo" height="30px" class="logoimg">
            <h1 class="title">monkeytype</h1>
            <img src="../../assets/keyboard.png" alt="keyboard" width="30px" height="30px" class="keyboardicn icn">           
            <img src="../../assets/information.png" alt="keyboard" width="30px" height="30px" class="infoicn icn">
            <img src="../../assets/settings.png" alt="keyboard" width="30px" height="30px" class="settingsicn icn">
        </div>       
    </div>
    
    <div class="paragraph-container">
        <app-body ></app-body>
    </div>
</div>

